.ReactModal__Overlay {
    background-color: white !important;
    opacity: 1 !important;
}
.w-lightbox-backdrop { background:  rgb(255, 255, 255) !important; }

.ril__outer {
    background-color: white !important;
    opacity: 1 !important;
}